<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container"></div>
        <div class="row">
            <div class="col-lg-2"></div>
            <!-- all this classs is in boodstrap -->
            <div class="col-lg-8 my-3">
                <h1 class=" text-center">Agenda</h1>
                
                <%- include('includes/messages') %>
                <% if(contacts.length > 0){ %>
                    <p class="text-center lead">your contacts are below</p>
                    <div class="responsive-table">
                        <table class="table" my-3>
                            <!-- tr*3>td*4 -->
                            <% contacts.forEach(contact=> { %>
                                <tr>
                                    <td><%= contact.name %></td>
                                    <td><%= contact.lastName  %></td>
                                    <td><%= contact.email %></td>
                                    <td><%= contact.cellPhone %></td>
                                    <td><a href="/contact/index/<%= contact._id %>">Edit</a></td>
                                    <td><a class="text-danger" href="/contact/delete/<%= contact._id %>">Delete</a></td>


                                </tr>
                                <% }); %>
                                    
                        </table>
                    </div>
            <% }else{ %>
                <p class="text-center lead">Not exist contact in your agenda</p>
            <% } %>
            </div>

            <div class="col-lg"></div>
        </div>

        <%- include('includes/footer') %>